@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  background-color:#ffffff;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.inicio{
  background-color:#addb8c;
  width: 100%;
  padding: 0;

}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
p{
  color:#eff3f7;
  
}
.my-float{
	margin-top:16px;
}

.imagenesNavbar{
  height: 3rem;
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}

input {
  display: none;
}

.contenedor {
  display: flex;
}

.columna {
  display: flex;
  flex-flow: column nowrap;
}



button {
  font-family: "Poppins", sans-serif;
  min-width: 25%;
  padding: 2px;
  color: #ffffff;
  font-size: 19px;
  border-radius: 10px;
  border: 2px solid;
  background: #1a4301;
  cursor: pointer;
}







footer {
  width: 100%;
  margin-top: auto;
  text-align: right;
  border-top: 1px solid rgba(18, 44, 6, 0.553);;
  background-color: rgba(5, 11, 2, 0.553);;
}

footer p {
  font-size: 1rem;
  color: #f9fcff;
  padding-right: 2%;
}


.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 14vh;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #eff3f7;
}

.header-mobile {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #eff3f7;
}

header a {
  text-decoration: none;
  color: #1a4301;
  font-size: 1rem;
}

header ul{
  list-style: none;
}

.hamb {
  display: none;
}

.side-menu {
  display: none;
}

.menu a{
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.nav{
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #eff3f7;
}

.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

.side-menu:checked ~ nav{
  max-height: 50%;
}


h1 {
  text-align: center;
  margin-top: 8rem;
  color: 3px solid white;
  height: 16em;
}

h2 {
      margin-left: 12rem; 
      margin-right: 12rem; 
      text-align: center;
      margin-top: 2rem;
     
}
p{
  margin-left: 12rem; 
  margin-right: 12rem; 
  text-align: center;
  margin-top: 2rem;
  color:50px solid black;

}
.logo-link {
  display: none;
}

.logo {
  width: 50%;
}

p{
  font-size: 20px;
}


@media (max-width: 860px) {
  .header {
    display: none;
  }

  footer {
      flex-direction: column;
      padding: 0;
      padding-top: 1rem;
      justify-content: space-around;
  }

  header i{
      color: #000;
      font-size: 2rem;
  }
  
  .hamb{
    display: block;
    cursor: pointer;
    float: right;
    padding: 5% 5%;
  }
  
  .logo-link {
      display: inline-block;
      margin-left: 5%;
      margin-top: 3%;
  }

  .texto {
    margin-left: 1rem;
    margin-right: 1rem;
  }


}

.sitio {
    text-decoration: none;
    color: #000000; 
    font-size: 2rem;
}

@media (min-width: 701px) {
    .footer {
      position: fixed;
      bottom: 0px;
    }
  
    .contenedor {
      flex-flow: row nowrap;
    }
  }
  
  @media (max-width: 700px) {
    .integrante {
      min-width: 100px;
    }
  
    .integrante {
      min-width: 200px;
    }
  
    footer {
      margin-top: 16px;
    }
  
    .contenedor {
      flex-flow: column nowrap;
    }
  
    .col-2 {
      width: 100%;
    }
  
    main {
      min-height: 85vh;
    }
  }