.filterDiv {
    float: left;
    background-color: #2196F3;
    color: #ffffff;
    width: 100px;
    line-height: 100px;
    text-align: center;
    margin: 2px;
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .container {
    margin-top: 20px;
    overflow: hidden;
  }
  
  /* Style the buttons */
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #ffffff;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #299852;
  }
  
  .btn.active {
    background-color: #055a10;
    color: white;
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  box-sizing: border-box;
}
 
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #7EC855;
  font-family: 'Roboto', sans-serif;
}
.shopping-cart {
  width: 500px;
  margin: 80px auto;
  background: #FFFFFF;
  box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
  border-radius: 6px;
 
  display: flex;
  flex-direction: column;
}
.title {
  height: 60px;
  border-bottom: 1px solid #E1E8EE;
  padding: 20px 30px;
  color: #5E6977;
  font-size: 18px;
  font-weight: 400;
}
 
.item {
  padding: 20px 30px;
  display: flex;
}
 
.item:nth-child(3) {
  border-top:  1px solid #E1E8EE;
  border-bottom:  1px solid #E1E8EE;
}


.delete-btn,
.like-btn {
  display: inline-block;
  Cursor: pointer;
}
.delete-btn {
  width: 18px;
  height: 17px;
  background: url(&amp;quot;delete-icn.svg&amp;quot;) no-repeat center;
}
 
.like-btn {
  position: absolute;
  top: 9px;
  left: 15px;
  background: url('twitter-heart.png');
  width: 60px;
  height: 60px;
  background-size: 2900%;
  background-repeat: no-repeat;
}

.is-active {
  animation-name: animate;
  animation-duration: .8s;
  animation-iteration-count: 1;
  animation-timing-function: steps(28);
  animation-fill-mode: forwards;
}
 
@keyframes animate {
  0%   { background-position: left;  }
  50%  { background-position: right; }
  100% { background-position: right; }
}


 

 
.description span {
  display: block;
  font-size: 14px;
  color: #43484D;
  font-weight: 400;
}
 
.description span:first-child {
  margin-bottom: 5px;
}
.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: #86939E;
}


.discount-product {position: relative;}
.discount-img-brief {
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
.onsale {
  background: #c87065 none repeat scroll 0 0;
  border-radius: 50%;
  float: left;
  height: 112px;
  margin: 5% 15% 0 25%;
  padding-top: 30px;
  text-align: center;
  width: 112px;
}
.discount-info {
  float: left;
  margin-top: 45px;
  padding: 0;
  width: 40%;
}
.onsale span {
  color: #fff;
  display: block;
  font-size: 20px;
  line-height: 14px;
}
.onsale-text {
  font-style: italic;
  padding-bottom: 12px;
  position: relative;
}
.onsale-text::before {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 2px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    width: 20px;
}
.onsale-price {
    padding-top: 10px;
    font-weight: 700;
}
.discount-info h1 {
  font-size: 45px;
  font-weight: 900;
  line-height: 35px;
  margin-bottom: 15px;
}
.discount-2 .discount-product {
  background: #fff none repeat scroll 0 0;
  padding: 72px 20px;
  position: inherit;
}
.discount-2 .discount-info {
  float: none;
  width: 100%;
}

.inicio{
  background-color:#addb8c;
  width: 100%;
  padding: 0;

}
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.imagenesNavbar{
  height: 3rem;
  width: auto;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:center;
}







footer {
  width: 100%;
  margin-top: auto;
  text-align: right;
  border-top: 1px solid rgba(18, 44, 6, 0.553);;
  background-color: rgba(5, 11, 2, 0.553);;
}

footer p {
  font-size: 1rem;
  color: #f9fcff;
  padding-right: 2%;
}


.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  height: 14vh;
  z-index: 1;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  font-weight: bold;
  border-bottom: 1px solid #eff3f7;
}

.header-mobile {
  position: sticky;
  z-index: 1;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  border-bottom: 1px solid #eff3f7;
}

header a {
  text-decoration: none;
  color: #1a4301;
  font-size: 1rem;
}

header ul{
  list-style: none;
}

.hamb {
  display: none;
}

.side-menu {
  display: none;
}

.menu a{
  color: #000;
  font-size: 1rem;
  font-weight: 600;
}

.nav{
  width: 100%;
  position: fixed;
  overflow: hidden;
  background-color: #fff;
  border-bottom: 1px solid #eff3f7;
}

.nav{
  max-height: 0;
  transition: max-height .5s ease-out;
}

.side-menu:checked ~ nav{
  max-height: 50%;
}


h1 {
  margin-left: 8rem; 
  margin-right: 8rem; 
  text-align: center;
  margin-top: 5rem;
  color: #245501;
}

h2 {
      margin-left: 2rem; 
      margin-right: 2rem; 
      text-align: center;
      margin-top: 2rem;
      color: #245501;
}
.logo-link {
  display: none;
}

.logo {
  width: 50%;
}

p{
  font-size: 20px;
}

.ocultar{
    display: none;
}
